@media (max-width: 640px) {
    .main{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/mobile_bg.png), lightgray -240.259px 0px / 294% 100% no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 735px;
        &__content {
            padding-top: 238px;

        }
        &__header{
            font-size: 32px;
            &_box{
                width: 100%;
                text-align: center;
            }
        }
        &__text{
            font-size: 14px;
            line-height: 22px;
            width: 100%;
            &_box{
                text-align: center;
            }
            &_strong{
                font-size: 14px;
            }
        }
        &__button{
            &_box{
                padding-top: 32px;
                display: flex;
                justify-content: center;
            }
        }
    }
    .game{
        display: flex;
        gap: 32px;
        height: 1221px;
        flex-direction: column;
        align-items: center;
        &__card {
            &_1{
                background-image: url(img/game1_mob.png);
                width: 343px;
            }
            &_2{
                background-image: url(img/game2_mob.png);
                width: 343px;
            }
            &_3{
                background-image: url(img/game3_mob.png);
                width: 343px;
            }
        }
    }
    .first{
        height: 653px;
        flex-direction: column;
        &__game{
            &_name{
                color: #FFF;
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &_description{
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px; /* 157.143% */
            }
            &_container { 
                padding-top: 51px;}
            &_img{
                padding-top: 64px;

            }
        }
    .button{
        &__box{
            display: flex;
            justify-content: center;
        }
    }

    }

    .container{
        flex-direction: column;
    }
    .content-center {
        padding-left: 16px;
        padding-right: 16px;
      }
}
