@media (max-width: 640px) {
    .main{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/mobile_bg.png), lightgray -240.259px 0px / 294% 100% no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 735px;
        &__content {
            padding-top: 238px;
            padding-left: 16px;
        }
        &__header{
            font-size: 32px;
            &_box{
                width: 343px;
                text-align: center;
            }
        }
        &__text{
            font-size: 14px;
            line-height: 22px;
            width: 323px;
            &_box{
                text-align: center;
            }
            &_strong{
                font-size: 14px;
            }
        }
        &__button{
            &_box{
                padding-top: 32px;
                display: flex;
                justify-content: center;
            }
        }
    }
    .game{
        display: flex;
        gap: 32px;
        padding-left: 16px;
        height: 1221px;
        flex-direction: column;
        &__card {
            &_1{
                background-image: url(img/game1_mob.png);
                width: 343px;
            }
            &_2{
                background-image: url(img/game2_mob.png);
                width: 343px;
            }
            &_3{
                background-image: url(img/game3_mob.png);
                width: 343px;
            }
        }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        }
    }
}
