* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 1024px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/background.jpeg), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__content{
        padding-top: 217px;
        padding-left: 120px;
    }
    &__header{
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }
    }
    &__text{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 177.778% */
        font-family: 'Montserrat', sans-serif;
        width: 481px;
        &_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 32px;
        }
        &_strong{
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            font-family: 'Montserrat', sans-serif;

        }
    }
    &__button{
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        border: none;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'Montserrat', sans-serif;
        &:hover {
            background: #399de5;
            color: #FFF;
        }
        &_box{
            padding-top: 44px;
        }
    }
}
.game{
    background: hsl(214, 100%, 4%);
    height: 556px;
    padding-top: 128px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    &__card {
        &_1{
            background-image: url(img/game1.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            max-width: 379px;
            height: 300px;
        }
        &_2{
            background-image: url(img/game2.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            max-width: 379px;
            height: 300px;
        }
        &_3{
            background-image: url(img/game3.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            max-width: 379px;
            height: 300px;
        }
    }
    &__text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        padding-top: 236px;
        padding-left: 32px;
    }
    .container {
        display: flex;
        gap: 30px
    }
}




.transition {
    transition: 1s;
  }
@import "mobile";