* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif; }

.main {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/background.jpeg), lightgray 50%/cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main__content {
    padding-top: 217px;
    padding-left: 120px; }
  .main__header {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
    .main__header_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0; }
  .main__text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 177.778% */
    font-family: 'Montserrat', sans-serif;
    width: 481px; }
    .main__text_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 32px; }
    .main__text_strong {
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      font-family: 'Montserrat', sans-serif; }
  .main__button {
    width: 234.063px;
    height: 48.603px;
    border-radius: 30px;
    background: #9C0332;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Montserrat', sans-serif; }
    .main__button:hover {
      background: #399de5;
      color: #FFF; }
    .main__button_box {
      padding-top: 44px; }

.game {
  background: #000914;
  height: 556px;
  padding-top: 128px;
  padding-left: 120px;
  display: flex;
  flex-direction: column; }
  .game__card_1 {
    background-image: url(img/game1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 379px;
    height: 300px; }
  .game__card_2 {
    background-image: url(img/game2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 379px;
    height: 300px; }
  .game__card_3 {
    background-image: url(img/game3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 379px;
    height: 300px; }
  .game__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
    padding-top: 236px;
    padding-left: 32px; }
  .game .container {
    display: flex;
    gap: 30px; }

.transition {
  transition: 1s; }

@media (max-width: 640px) {
  .main {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/mobile_bg.png), lightgray -240.259px 0px/294% 100% no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 735px; }
    .main__content {
      padding-top: 238px;
      padding-left: 16px; }
    .main__header {
      font-size: 32px; }
      .main__header_box {
        width: 343px;
        text-align: center; }
    .main__text {
      font-size: 14px;
      line-height: 22px;
      width: 323px; }
      .main__text_box {
        text-align: center; }
      .main__text_strong {
        font-size: 14px; }
    .main__button_box {
      padding-top: 32px;
      display: flex;
      justify-content: center; }

  .game {
    display: flex;
    gap: 32px;
    padding-left: 16px;
    height: 1221px;
    flex-direction: column; }
    .game__card_1 {
      background-image: url(img/game1_mob.png);
      width: 343px; }
    .game__card_2 {
      background-image: url(img/game2_mob.png);
      width: 343px; }
    .game__card_3 {
      background-image: url(img/game3_mob.png);
      width: 343px; }
    .game .container {
      display: grid;
      grid-template-columns: 1fr; } }
